main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

main > div {
	margin: 3rem 0;
}

.or {
	font-size: 2rem;
	font-weight: 100;
}

.logout-btn {
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
