.dropzone {
	width: 400px; /* Фиксированная ширина */
	height: 150px; /* Фиксированная высота */
	border: 2px dashed #555;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
	background-color: #1a1a1a;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dropzone:hover {
	background-color: #222;
	border-color: #4a90e2;
}

/* Активное состояние */
.dropzone-active {
	background-color: #333;
	border-color: #4a90e2;
}

/* Когда файл загружен */
.dropzone-filled {
	background-color: #2a2a2a;
	border-color: #66bb6a;
	cursor: default;
}

/* Убираем hover-эффекты, если файл загружен */
.dropzone-filled:hover {
	background-color: #2a2a2a;
	border-color: #66bb6a;
}

/* Фикс ширины текста, чтобы не ломало размеры компонента */
.file-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 100%;
	overflow: hidden;
}

.file-info p {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.remove-btn {
	background-color: #e74c3c;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
	flex-shrink: 0;
}

.remove-btn:hover {
	background-color: #c0392b;
}
